In [12]:
SELECT ROGZITETTE, SZALLAS_NEV, CIM
FROM SZALLASHELY
WHERE HELY LIKE 'Balaton%'  AND MONTH(ROGZ_IDO)='03'
ORDER BY CSILLAGOK_SZAMA DESC

ROGZITETTE,SZALLAS_NEV,CIM
Béla,Hotel Három Hattyú,"8623 Balatonföldvár, Rákóczi Ferenc út 45."
Mari,Jáde panzió,"8624 Balatonföldvár, Kiss u.2."
Béla,Kentaur Hotel,"8600 Siófok (Széplak), Akácfa utca 1"
Béla,Tímárház Panzió,"8600 Siófok, Virág utca 1"
Béla,Családi Ház,"8630 Balatonboglár, József Attila utca 25"
Mari,Szieszta Apartmanház,"8630 Balatonboglár, Dózsa György utca 108"
Béla,Partiszél Vendégház,8220 Balatonalmádi Neptun u. 23.

In [16]:
SELECT szh.TIPUS, ROUND(COUNT(*),-2) AS 'FOGLALASSZAM'
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK=sz.SZOBA_ID

                             JOIN Szallashely szh ON sz.SZALLAS_FK=szh.SZALLAS_ID

GROUP BY szh.TIPUS
HAVING ROUND(COUNT(*),-2)<500

TIPUS,FOGLALASSZAM
Apartman,100
vendégház,100
panzió,200

In [31]:
SELECT sz.SZOBA_ID, YEAR(f.METTOL), COUNT(*)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK=sz.SZOBA_ID
WHERE sz.SZOBA_SZAMA%2=1
GROUP BY sz.SZOBA_ID, YEAR(f.METTOL)
HAVING COUNT(*)>10

SZOBA_ID,(No column name),(No column name)
58,2016,12